SEO_Ranking_Automation.json
{
  "name": "SEO Ranking Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1sPwV1OCQ2kN4crLv1bLb2Z0ucPoYdqj6AxnYamnvFzg",
          "mode": "list",
          "cachedResultName": "test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sPwV1OCQ2kN4crLv1bLb2Z0ucPoYdqj6AxnYamnvFzg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sPwV1OCQ2kN4crLv1bLb2Z0ucPoYdqj6AxnYamnvFzg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        400,
        -112
      ],
      "id": "58a84c45-6ab0-401a-97d1-e9b6ad209afc",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "0OoWDaXyuQoENXow",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json[\"organic_results\"][0][\"link\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "id": "dca38c72-84c0-431e-8192-25cfc27b5340",
      "name": "Fetch HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        768,
        -112
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.url }}"
            },
            {
              "name": "api_key",
              "value": "\"{{ YOUR_SERPAPI_KEY }}\""
            }
          ]
        }
      },
      "id": "ec151a75-e962-4841-9d75-dbb89a57b032",
      "name": "SerpApi Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        576,
        -112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an SEO expert. I will give you the HTML content or text of a webpage.  \n{{ $json.title }} \n{{ $json.meta_description }} \n{{ $json.h1 }}\n\n{{ $json.h2 }}\n\n{{ $json.paragraphs }}\n\n\n\nYour task is to analyze it and return a **strict JSON** with the following fields only:  \n\n{\n  \"seoScore\": number from 0 to 100 based on SEO quality,\n  \"majorIssues\": [\"list of key SEO issues found\"],\n  \"stepByStepImprovements\": [\"list of actionable steps to improve SEO score\"]\n}\n\nRules:\n1. Output only valid JSON — no extra words, no markdown formatting, no explanations.\n2. All strings should be in plain text without quotes inside them unless required.\n3. `seoScore` must be an integer.\n4. `majorIssues` and `stepByStepImprovements` must always be arrays, even if they have only one element.\n\nAnalyze the given webpage and fill these fields accordingly.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1184,
        -112
      ],
      "id": "01c6454a-c3f4-4e64-93d3-c8f298dfd4f8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1200,
        -256
      ],
      "id": "dda9e611-ec9b-4542-b0d4-b90491ae1025",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dxAFJkpEDmNejrsO",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title",
              "returnArray": true
            },
            {
              "key": "meta_description",
              "cssSelector": "meta[name=\"description\"]",
              "returnArray": true
            },
            {
              "key": "h1",
              "cssSelector": "h1",
              "returnArray": true
            },
            {
              "key": "h2",
              "cssSelector": "h2",
              "returnArray": true
            },
            {
              "key": "paragraphs",
              "cssSelector": "p",
              "returnArray": true
            },
            {
              "key": "html",
              "cssSelector": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        976,
        -112
      ],
      "id": "4f62c17b-5de7-4f5a-8dcb-4f2ded4554ff",
      "name": "HTML Extractor"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let rawOutput = item.json.output;\n\n  // Step 1: Remove triple backticks and \"json\" label\n  rawOutput = rawOutput.replace(/```json|```/g, '').trim();\n\n  // Step 2: Parse the cleaned string into JSON\n  let parsed;\n  try {\n    parsed = JSON.parse(rawOutput);\n  } catch (e) {\n    parsed = {\n      seoScore: null,\n      majorIssues: [],\n      stepByStepImprovements: [],\n      error: \"Invalid JSON from AI output\"\n    };\n  }\n\n  return {\n    json: parsed\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -112
      ],
      "id": "43ac5115-1140-4935-8d3a-81b13d1b7272",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "\"{{ YOUR_EMAIL }}\"",
        "subject": "SEO Score And Issues",
        "message": "=SEO Score : -  {{ $json.seoScore }} / 100\n\nMajor issues:- \n{{ $json.majorIssues[0] }}\n\n{{ $json.majorIssues[1] }}\n\n{{ $json.majorIssues[2] }}\n\n{{ $json.majorIssues[3] }}\n\nStep-By-Step Improvements:-\n{{ $json.stepByStepImprovements[0] }}\n\n{{ $json.stepByStepImprovements[1] }}\n\n{{ $json.stepByStepImprovements[2] }}\n\n{{ $json.stepByStepImprovements[3] }}\n\n{{ $json.stepByStepImprovements[4] }}\n\n{{ $json.stepByStepImprovements[5] }}\n\n{{ $json.stepByStepImprovements[6] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        -112
      ],
      "id": "5187d6af-215d-4238-9b8d-685f5c63a20d",
      "name": "Send a message",
      "webhookId": "7545f92e-dac9-4e48-866f-022d35f9733b",
      "credentials": {
        "gmailOAuth2": {
          "id": "gtmRsYy4MSVlXqZd",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "SerpApi Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch HTML": {
      "main": [
        [
          {
            "node": "HTML Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpApi Search": {
      "main": [
        [
          {
            "node": "Fetch HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extractor": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "a16f0733-c68b-4b18-842d-511d47ff0f2d",
  "meta": {
    "templateId": "5035",
    "templateCredsSetupCompleted": true,
    "instanceId": "77cf2cb7154241ce73851aeb0499655d2dcdcd66c2e2f613a89d2eb6eeba7fce"
  },
  "id": "FvtGSkabBTZkgEMv",
  "tags": []
}
